In [1]:
import os

import News_Recommender_CBF as nrcbf

print(f"YOUR DIRECTORY:\nMATCH PATH ACCORDINGLY!\n{os.getcwd()}")

YOUR DIRECTORY:
MATCH PATH ACCORDINGLY!
C:\Users\Storm\PycharmProjects\RecommenderSystems\TristanExplore

In [2]:
path_items = "../data/MINDsmall_train/news.tsv"
path_user_behavior = "../data/MINDsmall_train/behaviors.tsv"

recommender = nrcbf.NewsRecommenderCBF(path_items, path_user_behavior)

recommender.get_user_frame().head(10)

00 ----------> ITEM data loaded successfully: 51282 records!
01 ----------> USER data loaded successfully: 156965 records!
02 ----------> Corpus created: 51282 documents!
03 ----------> TF-IDF matrix created: 51282 documents, 167113 terms!
04 ----------> Category matrix created: 51282 documents, 281 categories!
05 ----------> Combined matrix created, shape: (51282, 167394)

,uID,t,ClickHist,ImpLog
1,U13740,2019-11-11 09:05:58,N55189 N42782 N34694 N45794 N18445 N63302 N104...,N55689-1 N35729-0
2,U91836,2019-11-12 18:11:30,N31739 N6072 N63045 N23979 N35656 N43353 N8129...,N20678-0 N39317-0 N58114-0 N20495-0 N42977-0 N...
3,U73700,2019-11-14 07:01:48,N10732 N25792 N7563 N21087 N41087 N5445 N60384...,N50014-0 N23877-0 N35389-0 N49712-0 N16844-0 N...
4,U34670,2019-11-11 05:28:05,N45729 N2203 N871 N53880 N41375 N43142 N33013 ...,N35729-0 N33632-0 N49685-1 N27581-0
5,U8125,2019-11-12 16:11:21,N10078 N56514 N14904 N33740,N39985-0 N36050-0 N16096-0 N8400-1 N22407-0 N6...
6,U19739,2019-11-11 18:52:13,N39074 N14343 N32607 N32320 N22007 N442 N19001...,N21119-1 N53696-0 N33619-1 N25722-0 N2869-0
7,U8355,2019-11-11 12:22:09,N8419 N15771 N1431 N5888 N18663 N24123 N22130 ...,N51346-0 N33848-0 N15132-0 N10688-0 N6342-0 N6...
8,U46596,2019-11-12 22:29:36,N47438 N20950 N21317 N5469,N7821-0 N24898-0 N12029-0 N13579-0 N42977-0 N3...
9,U79199,2019-11-13 10:13:02,N37083 N459 N29499 N38118 N37378 N24691 N27235...,N51048-1 N64094-0 N13907-0 N39010-0
10,U53231,2019-11-11 11:28:11,N58936 N15919 N11917 N2153 N55312 N13008 N4142...,N53585-1 N55689-0

In [4]:
user = "U13740"
recommendation = recommender.recommend(user, 10)
print(recommendation)

['N58133', 'N31801', 'N19347', 'N44581', 'N14019', 'N3487', 'N34069', 'N38384', 'N59138', 'N31895']