In [1]:
import pandas as pd

In [2]:
names = [
    "uID",
    "t",
    "ClickHist",
    "ImpLog"
]

try:
    rel = pd.read_csv("../data/MINDlarge_train/behaviors.tsv", sep="\t", header=None, names=names)
except Exception as e:
    print(f"Error loading data: {e}")
    rel = None

print("first")
rel['t'] = pd.to_datetime(rel['t'])
print("second")

first
second

In [30]:
coloumns_items = [
        "news_id",
        "category",
        "sub_category",
        "title",
        "abstract",
        "url",
        "title_entities",
        "abstract_entities",
    ]

data_i = pd.read_csv(
    "../data/MINDlarge_train/news.tsv", sep="\t", header=None, names=coloumns_items
)
print(f"00 ----------> Data loaded successfully: {len(data_i)} records!")

data_i = data_i.fillna("")

data_i

00 ----------> Data loaded successfully: 101527 records!

,news_id,category,sub_category,title,abstract,url,title_entities,abstract_entities
0,N88753,lifestyle,lifestyleroyals,"The Brands Queen Elizabeth, Prince Charles, an...","Shop the notebooks, jackets, and more that the...",https://assets.msn.com/labs/mind/AAGH0ET.html,"[{""Label"": ""Prince Philip, Duke of Edinburgh"",...",[]
1,N45436,news,newsscienceandtechnology,Walmart Slashes Prices on Last-Generation iPads,Apple's new iPad releases bring big deals on l...,https://assets.msn.com/labs/mind/AABmf2I.html,"[{""Label"": ""IPad"", ""Type"": ""J"", ""WikidataId"": ...","[{""Label"": ""IPad"", ""Type"": ""J"", ""WikidataId"": ..."
2,N23144,health,weightloss,50 Worst Habits For Belly Fat,These seemingly harmless habits are holding yo...,https://assets.msn.com/labs/mind/AAB19MK.html,"[{""Label"": ""Adipose tissue"", ""Type"": ""C"", ""Wik...","[{""Label"": ""Adipose tissue"", ""Type"": ""C"", ""Wik..."
3,N86255,health,medical,Dispose of unwanted prescription drugs during ...,,https://assets.msn.com/labs/mind/AAISxPN.html,"[{""Label"": ""Drug Enforcement Administration"", ...",[]
4,N93187,news,newsworld,The Cost of Trump's Aid Freeze in the Trenches...,Lt. Ivan Molchanets peeked over a parapet of s...,https://assets.msn.com/labs/mind/AAJgNsz.html,[],"[{""Label"": ""Ukraine"", ""Type"": ""G"", ""WikidataId..."
...,...,...,...,...,...,...,...,...
101522,N115249,sports,more_sports,St. Dominic soccer player tries to kick cancer...,"Sometimes, what happens on the sidelines can b...",https://assets.msn.com/labs/mind/BBWzQnK.html,[],[]
101523,N64337,finance,finance-real-estate,Mansion Monday: Contemporary Des Moines home i...,Among the perks of this unique Des Moines home...,https://assets.msn.com/labs/mind/BBWzQq8.html,"[{""Label"": ""Des Moines, Iowa"", ""Type"": ""G"", ""W...","[{""Label"": ""Des Moines, Iowa"", ""Type"": ""G"", ""W..."
101524,N100102,sports,soccer_epl,How the Sounders won MLS Cup,"Mark, Jeremiah and Casey were so excited they ...",https://assets.msn.com/labs/mind/BBWzQuK.html,"[{""Label"": ""MLS Cup"", ""Type"": ""U"", ""WikidataId...",[]
101525,N74617,autos,autossports,Best Sports Car Deals for October,,https://assets.msn.com/labs/mind/BBy5rVe.html,"[{""Label"": ""Peugeot RCZ"", ""Type"": ""V"", ""Wikida...",[]
101526,N56840,sports,more_sports,Shall we dance: Sports stars shake their leg,,https://assets.msn.com/labs/mind/BBzMpnG.html,[],[]

In [3]:
rel

,uID,t,ClickHist,ImpLog
1,U87243,2019-11-10 11:30:54,N8668 N39081 N65259 N79529 N73408 N43615 N2937...,N78206-0 N26368-0 N7578-0 N58592-0 N19858-0 N5...
2,U598644,2019-11-12 01:45:29,N56056 N8726 N70353 N67998 N83823 N111108 N107...,N47996-0 N82719-0 N117066-0 N8491-0 N123784-0 ...
3,U532401,2019-11-13 11:23:03,N128643 N87446 N122948 N9375 N82348 N129412 N5...,N103852-0 N53474-0 N127836-0 N47925-1
4,U593596,2019-11-12 12:24:09,N31043 N39592 N4104 N8223 N114581 N92747 N1207...,N38902-0 N76434-0 N71593-0 N100073-0 N108736-0...
5,U239687,2019-11-14 08:03:01,N65250 N122359 N71723 N53796 N41663 N41484 N11...,N76209-0 N48841-0 N67937-0 N62235-0 N6307-0 N3...
...,...,...,...,...
2232744,U316192,2019-11-13 06:50:02,N122359 N37069 N95876 N28787 N73408 N11266 N61321,N113723-0 N123683-1 N5287-0 N76677-0 N53474-0
2232745,U451238,2019-11-12 08:54:06,N12575 N93816 N71643 N87236 N87236,N18861-0 N20990-0 N43085-0 N7937-1
2232746,U151246,2019-11-13 12:42:51,N27587 N49668,N39887-1 N22811-0 N110709-1 N1923-0 N24001-1 N...
2232747,U330725,2019-11-12 01:22:57,N121944 N91510 N42280 N60061 N63032 N125223 N4...,N18947-0 N88808-1 N10012-0 N38902-0 N33078-0 N...
2232748,U500938,2019-11-13 08:10:45,N13311 N73573 N36246 N47118 N71728 N105480 N61...,N24701-0 N13161-0 N39403-0 N40310-0 N5287-0 N1...

In [6]:
len(rel['uID'].unique())

711222

In [7]:
rel['ClickHist'].info()

<class 'pandas.core.series.Series'>
Index: 2232748 entries, 1 to 2232748
Series name: ClickHist
Non-Null Count    Dtype
--------------    -----
2186683 non-null  object
dtypes: object(1)
memory usage: 34.1+ MB

In [8]:
rel['ImpLog'].info()

<class 'pandas.core.series.Series'>
Index: 2232748 entries, 1 to 2232748
Series name: ImpLog
Non-Null Count    Dtype
--------------    -----
2232748 non-null  object
dtypes: object(1)
memory usage: 34.1+ MB

In [36]:
user = "U451238"
rel[rel["uID"] == user].sort_values(by='t', ascending=False)

,uID,t,ClickHist,ImpLog
151534,U451238,2019-11-13 06:55:43,N12575 N93816 N71643 N87236 N87236,N38378-0 N20964-0 N23077-0 N48263-0 N58198-0 N...
2232745,U451238,2019-11-12 08:54:06,N12575 N93816 N71643 N87236 N87236,N18861-0 N20990-0 N43085-0 N7937-1
1661048,U451238,2019-11-12 05:06:50,N12575 N93816 N71643 N87236 N87236,N27097-0 N2750-0 N30899-1 N91381-0
285816,U451238,2019-11-12 04:29:17,N12575 N93816 N71643 N87236 N87236,N83412-0 N59301-0 N22564-0 N41454-0 N95675-0 N...
483824,U451238,2019-11-09 05:33:49,N12575 N93816 N71643 N87236 N87236,N79081-0 N10012-0 N8287-0 N130031-0 N4215-0 N1...

In [ ]:
def build_click_profile(user):
    row = rel.loc[rel.uID == user].sort_values(by='t', ascending=False)

    if row.empty: return None

    click_list = row.iloc[0]['ClickHist']
    idx_map = pd.Series(data_i.index, index=data_i['news_id'])
    idxs = [idx_map[a] for a in click_list if a in idx_map]
    if not idxs: return None
    


def build_user_profile(user_id, half_life_days=3.5):
    user_data = rel[rel["uID"] == user_id].sort_values(by='t', ascending=False)
    
    newest = user_data.iloc[0]
    deltas = (newest['t'] - user_data['t']).dt.total_seconds() / (60 * 60 * 24)

    print(deltas)

    weights = 0.5**(deltas / half_life_days)
    print(weights)

    ids = pd.Series(data_i.index, index=data_i['news_id']).drop_duplicates()
    print(ids)

    rows, wts = [], []

    for session_wt, hist in zip(weights, user_data['ClickHist']):
        print(hist)
        for aid in hist:
            if aid in ids:
                rows.append(ids[aid])
                wts.append(session_wt)
    print(rows)

build_user_profile(user)

1          0.000000
1481803    0.983495
705519     1.103634
328224     1.434583
Name: t, dtype: float64
1          1.000000
1481803    0.823021
705519     0.803670
328224     0.752685
Name: t, dtype: float64
news_id
N88753          0
N45436          1
N23144          2
N86255          3
N93187          4
            ...
N115249    101522
N64337     101523
N100102    101524
N74617     101525
N56840     101526
Length: 101527, dtype: int64
N8668 N39081 N65259 N79529 N73408 N43615 N29379 N32031 N110232 N101921 N12614 N129591 N105760 N60457 N1229 N64932
N8668 N39081 N65259 N79529 N73408 N43615 N29379 N32031 N110232 N101921 N12614 N129591 N105760 N60457 N1229 N64932
N8668 N39081 N65259 N79529 N73408 N43615 N29379 N32031 N110232 N101921 N12614 N129591 N105760 N60457 N1229 N64932
N8668 N39081 N65259 N79529 N73408 N43615 N29379 N32031 N110232 N101921 N12614 N129591 N105760 N60457 N1229 N64932
[]

In [16]:
hist = user_data["ClickHist"]
hist = hist.split(" ")
hist

['N122359', 'N37069', 'N95876', 'N28787', 'N73408', 'N11266', 'N61321']

In [15]:
indices = pd.Series(data_i.index, index=data_i['news_id']).drop_duplicates()
indices

news_id
N88753          0
N45436          1
N23144          2
N86255          3
N93187          4
            ...
N115249    101522
N64337     101523
N100102    101524
N74617     101525
N56840     101526
Length: 101527, dtype: int64

In [17]:
article_indices = [indices[article_id] for article_id in hist if article_id in indices]
article_indices

[48342, 65150, 36125, 15253, 3058, 22021, 51314]